{% extends 'base.html.twig' %}

{% block title %}Hello DoQuizzController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>You have finished the quiz! 🎉✅</h1>

    
    <ul>
        <li>Please go back to the quiz page.<code><a href="{{ path('app_quizz_client_index') }}">Return</a></code></li>
    </ul>
</div>
{% endblock %}
